pre {
    margin-bottom: 1rem !important;
}

code {
    line-height: 1.7em !important;
}

.sidebar-about h1 {
    font-size: 2.00rem;
}

.post-date {
    font-size: .9rem;
}

.read-more-link {
    font-size: .9rem;
    padding-top: .3rem;
}

.post {
    margin-bottom: 2rem !important;
}


