pre {
    margin-bottom: 1rem !important;
}

.sidebar-about h1 {
    font-size: 2.00rem;
}

.post-date {
    font-size: .9rem;
}

.read-more-link {
    font-size: .9rem;
    padding-top: .3rem;
}

.post {
    margin-bottom: 2rem !important;
}

.newsletter {
    margin-bottom: 2rem;
}

#mc_embed_signup {
    clear:left;
    width:100%;
}

#mce-EMAIL {
    float: left;
}

#mc-embedded-subscribe {
    /*float: left;*/
}
